body {
    background-color: rgb(23, 23, 23);
  }

.title-heder {

    font-family: 'Golos text';
    font-style: normal;
    font-size: 28px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    color: white;

}

.title {
    font-family: 'Unbounded';
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    font-display: swap;
    margin-left: 260px;
    margin-top: 200px;
    color: white;
}

.des {
    font-size: 23px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 430;
    margin-top: -15px;
    margin-left: 260px;
    color: rgb(198, 198, 198);
}

.main {
    font-family: "Golos text";
    margin-top: 25px;
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: 500;
    border: none;
    margin-left: 260px;
    border-radius: 18px;
    background: #aaff64;
    box-shadow: #14360e 1px 5px 5px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid #aaff64;
}

.main:hover {
    font-family: "Golos text";
    margin-top: 25px;
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: 500;
    border: none;
    margin-left: 260px;
    background: #aaff64de;
    box-shadow: #14360e 1px 5px 5px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid #aaff64de;
    transform: scale(0.9)
}

.on-des-heder {

    font-family: 'Golos Text';
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    color: rgba(255, 255, 255, 0.903);

}

.des-heder {

    font-family: 'Golos Text';
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    color: rgba(255, 255, 255, 0.525);

}