body {
    background-color: rgb(23, 23, 23);
    font-family: "Unbounded", sans-serif;
    
  }

.img5 {
    width: 30%;
    height: auto;
    filter: drop-shadow(0px 0px 50px rgba(162, 255, 112, 0.236));
    vertical-align: middle;
    position: absolute;
    top: 14%;
    right: 7%;
}

.logo-header {
    width: 32px;
    height: auto;
}

.title-heder {

    font-family: 'Golos Text';
    font-style: normal;
    font-size: 28px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    color: white;

}

.on-des-heder {
    font-family: 'Golos Text';
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    color: rgba(255, 255, 255, 0.903);
    transition: color 0.5s ease;
}

.on-des-heder:hover {
    color: rgba(255, 255, 255, 0.615);
}

.button1 {
    font-family: "Golos text";
    margin-top: 25px;
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: 500;
    border: none;
    margin-left: 260px;
    border-radius: 18px;
    background: #aaff64;
    will-change: transform;
    transition: all 0.3s;
}

.button11 {
    font-family: "Golos text";
    margin-top: 25px;
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: 500;
    border: none;
    margin-left: 100px;
    border-radius: 18px;
    background: #aaff64;
    will-change: transform;
    transition: all 0.3s;
}

.button9 {
    font-family: "Golos text";
    font-size: 17px;
    color: rgb(27, 27, 27);
    font-weight: 450;
    cursor: pointer;
}
p {
    font-size: 23px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 430;
    margin-top: -15px;
    margin-left: 260px;
    color: rgb(198, 198, 198);
}
.button2 {
    font-family: "Golos text";
    margin-top: 25px;
    font-size: 13px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: none;
    margin-left: 25px;
    border-radius: 18px;
    background: #242424;
    will-change: transform;
    transition: all 0.3s;
    border: 2px solid #898989;
}

.des-heder {
    font-family: 'Golos Text';
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    color: rgba(255, 255, 255, 0.525);
    transition: color 0.5s ease;
}

.title {
    font-family: 'Unbounded';
    font-style: normal;
    font-size: 50px;
    font-weight: 500;
    font-display: swap;
    margin-left: 260px;
    margin-top: -40px;
    color: white;
}

.title_gr {
    font-family: 'Unbounded';
    font-style: normal;
    font-size: 50px;
    font-weight: 560;
    font-display: swap;
    margin-left: 260px;
    margin-top: 200px;
    color: white;
    background: linear-gradient(120deg, #a7ff87, #43ff49e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
