

body {
    background-color: rgb(23, 23, 23);
    font-family: "Unbounded", sans-serif;
    
  }

.img1 {
    width: 38%;
    height: auto;
    filter: drop-shadow(0px 0px 50px rgba(162, 255, 112, 0.236));
    vertical-align: middle;
    position: absolute;
    top: 14%;
    right: 7%;
}

.logo-header {
    width: 32px;
    height: auto;
}

.logo-title {
    width: 32px;
    height: auto;
}

  

  .title {
    font-family: 'Unbounded';
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    font-display: swap;
    margin-left: 260px;
    margin-top: 200px;
    margin-bottom: -0px;
    color: white;
}

.title_gr {
    font-family: 'Unbounded';
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    font-display: swap;
    margin-left: 260px;
    margin-top: 1px;
    color: white;
    background: linear-gradient(120deg, #a7ff87, #43ff49e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title_gr2 {
    font-family: 'Unbounded';
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    font-display: swap;
    margin-top: 1px;
    color: white;
    background: linear-gradient(120deg, #a7ff87, #43ff49e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exp_gr {
    font-family: 'Golos text';
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
    font-display: swap;
    margin-top: 1px;
    color: white;
    background: linear-gradient(120deg, #a7ff87, #43ff49e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.what1 {
    margin-bottom: 80px;
}

.header {
    background-color: rgba(23, 23, 23, 0.703);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    backdrop-filter: blur(10px)
    
}

.plugins {
    background-color: rgba(47, 47, 47, 0.596);
    border-radius: 15px;
    width: 1000px;
    height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    margin-left: auto;
    margin-right: auto;
}

.plugins p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px
}

.free {
    background-color: rgba(47, 47, 47, 0.596);
    border-radius: 15px;
    width: 1000px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: 50px;
}
.free p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px
}
.free2 {
    background-color: rgba(47, 47, 47, 0.596);
    border-radius: 15px;
    width: 1000px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    margin-bottom: 50px;
}
.free2 p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px
}

.fun {
    background-color: rgba(47, 47, 47, 0.596);
    border-radius: 15px;
    width: 1000px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: 50px;
}
.fun p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px
}


.help {
    font-family: "Golos text";
    font-style: normal;
    font-size: 20px;
    font-weight: 200;
    font-display: swap;
    margin-left: 260px;
    margin-top: 90px;
    color: white;
}

.help1 {

    font-family: "Golos text";
    font-style: normal;
    font-size: 20px;
    font-weight: 200;
    font-display: swap;
    margin-left: 260px;
    color: white;

}

.our-prem {
    font-family: 'Golos text';
    font-style: normal;
    font-size: 40px;
    font-weight: 600;
    font-display: swap;
    margin-left: 260px;
    margin-top: 400px;
    color: white;
}
.our-prem2 {
    font-family: 'Golos text';
    font-style: normal;
    font-size: 40px;
    font-weight: 600;
    font-display: swap;
    margin-left: 260px;
    margin-top: 200px;
    color: white;
}

.title_what1 {

    font-family: 'Unbounded';
    font-style: normal;
    font-size: 35px;
    color: white;

}

.des_what1 {

    font-family: 'Golos text';
    font-style: normal;
    font-size: 30px;
    color: rgb(218, 218, 218);

}

.des_what3 {

    font-family: 'Golos text';
    font-style: normal;
    font-size: 23px;
    color: rgba(148, 255, 109, 0.813);

}
.des_what3:hover {

    font-family: 'Golos text';
    font-style: normal;
    font-size: 23px;
    color: rgba(148, 255, 109, 0.672);

}

.stop {

    font-family: 'Golos text';
    font-style: normal;
    font-size: 23px;
    color: rgba(255, 109, 109, 0.813);

}

.title_what2 {

    font-family: 'Unbounded';
    font-style: normal;
    font-size: 35px;
    color: white;

}

.des_what2 {

    font-family: 'Golos text';
    font-style: normal;
    font-size: 30px;
    color: rgb(218, 218, 218);

}


.title-heder {

    font-family: 'Golos Text';
    font-style: normal;
    font-size: 28px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    color: white;

}

.on-des-heder {
    font-family: 'Golos Text';
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    color: rgba(255, 255, 255, 0.903);
    transition: color 0.5s ease;
}

.on-des-heder:hover {
    color: rgba(255, 255, 255, 0.615);
}



.des-heder {

    font-family: 'Golos Text';
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    color: rgba(255, 255, 255, 0.525);
    transition: color 0.5s ease;

}

.title-footer {

    font-family: 'Golos text';
    font-style: normal;
    font-size: 28px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    margin-top: 200px;
    color: white;

}

.des-footer {
    font-size: 15px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 440;
    margin-top: 15px;
    margin-left: 260px;
    color: rgb(154, 154, 154);
}

.social-footer {
    font-size: 20px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 440;
    margin-left: 260px;
    color: rgb(154, 154, 154);
}

p {
    font-size: 23px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 430;
    margin-top: -15px;
    margin-left: 260px;
    color: rgb(198, 198, 198);
}
.dese {
    font-size: 23px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 430;
    margin-top: 25px;
    margin-left: 260px;
    color: rgb(198, 198, 198);
}

.des {
    font-size: 23px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 430;
    margin-top: -15px;
    margin-left: 260px;
    color: rgb(198, 198, 198);
}

.button-heder {
    font-family: "Golos text";
    font-size: 15px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: 500;
    border: none;
    margin-left: 1500px;
    margin-top: -1100px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: #14360e 1px 5px 5px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid #ffffff;
}

.button1 {
    font-family: "Golos text";
    cursor: not-allowed;
    margin-top: 25px;
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: 500;
    border: none;
    margin-left: 260px;
    border-radius: 18px;
    background: #aaff64;
    box-shadow: #14360e 1px 5px 5px 0px;
    will-change: transform;
    transition: all 0.3s;
}

.button2 {
    font-family: "Golos text";
    margin-top: 25px;
    font-size: 13px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: none;
    margin-left: 25px;
    border-radius: 18px;
    background: #242424;
    will-change: transform;
    transition: all 0.3s;
    border: 2px solid #898989;
}

.button3 {

    font-family: "Golos text";
    margin-top: -25px;
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: 500;
    border: none;
    margin-left: 260px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: #3a3a3a 1px 5px 5px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid #ffffff;

}

.button4 {

    font-family: "Golos text";
    margin-top: 25px;
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: 500;
    border: none;
    margin-left: 100px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: #494949 1px 5px 5px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid #ffffff;

}

.button5 {

    font-family: "Golos text";
    margin-top: -25px;
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: 500;
    border: none;
    margin-left: 100px;
    border-radius: 18px;
    background: #aaff64;
    box-shadow: #14360e 1px 5px 5px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid #aaff64;

}

.one {

    color: rgb(23, 23, 23);

}
