html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(19, 19, 19);
    font-family: "Unbounded", sans-serif;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0,)
  }

.img1 {
    width: 38%;
    height: auto;
    filter: drop-shadow(0px 0px 50px rgba(162, 255, 112, 0.236));
    vertical-align: middle;
    position: absolute;
    top: 20%;
    right: 7%;
}

.slider {
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}

.slides {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

details {
    background: #1d1d1d;
    border: 1px solid #393939;
    border-radius: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-bottom: 10px;
}

summary {
    font-weight: 600px;
    font-size: 25px;
    cursor: pointer;
    color: #ffffff;
}
details p {
    margin-top: 10px;
    font-weight: 400px;
    margin-left: 5px;
    color: #ffffffd8;
    margin-bottom: 10px;
}

.img-icon {
    width: 100px;
    height: 100px;
    margin-left: 8px;
    margin-right: auto;
    margin-top: 10px;
}

.icon-bolt {
    background-color: rgba(47, 47, 47, 0.341);
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin-left: 82%;
    margin-top: -130px;
}

@media (max-width: 1200px) {
    .icon-bolt {
        display: none;
    }
}

.icon-heart {
    background-color: rgba(47, 47, 47, 0.341);
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin-left: 82%;
    margin-top: -115px;
}

@media (max-width: 1200px) {
    .icon-heart {
        display: none;
    }
}

.icon-settings {
    background-color: rgba(47, 47, 47, 0.341);
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin-left: 82%;
    margin-top: -115px;
}

@media (max-width: 1200px) {
    .icon-settings {
        display: none;
    }
}

/* Ширина скроллбара */
::-webkit-scrollbar {
    width: 8px;
}

/* Дорожка скроллбара */
::-webkit-scrollbar-track {
    background: #2e2e2e;
    border-radius: 13px;
}

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Ползунок при наведении
::-webkit-scrollbar-thumb:hover {
    background: #cdcdcd;
} */
::-webkit-scrollbar-thumb {
    background: #929292;
    border-radius: 7px;
}

.img2 {
    width: 5%;
    height: auto;
    vertical-align: middle;
    position: absolute;
    top: 150%;
    right: 48%;
}

.footer {
    background-color: rgba(47, 47, 47, 0.26);
    border-radius: 15px;
    width: 95%;
    height: 190px;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .footer {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .footer {
        height: 220px;
    }
}

@media (max-width: 480px) {
    .footer {
        height: 180px;
    }
}

@media (max-width: 1200px) {
    .footer p{
        margin-left: 100px;
        font-size: 23px;
    }
}

@media (max-width: 768px) {
    .footer p{
        margin-left: 90px;
        font-size: 19px;
    }
}

@media (max-width: 480px) {
    .footer p{
        margin-left: 50px;
        font-size: 15px;
    }
}

.logo-header {
    width: 32px;
    height: auto;
}

@media (max-width: 1200px) {
    .logo-header{
        margin-left: -170px;
    }
}

@media (max-width: 768px) {
    .logo-header{
        margin-left: -230px;
    }
}

@media (max-width: 480px) {
    .logo-header{
        margin-left: -250px;
    }
}

.logo-footer {
    width: 32px;
    height: auto;
    position: absolute;
    top: 1955px;
    left: 492px;
}

.logo-title {
    width: 32px;
    height: auto;
}

.main-div {

    border-radius: 30px;
    width: 95%;
    height: 600px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: -20px;
    margin-top: 100px;
    background: linear-gradient(rgba(108, 255, 98, 0.095), rgba(64, 177, 51, 0.072));

}


@media (max-width: 1200px) {
    .main-div {
        height: 500px;
    }
}

@media (max-width: 873px) {
    .main-div {
        height: 600px;
    }
}

@media (max-width: 768px) {
    .main-div {
        height: 500px;
    }
}

@media (max-width: 480px) {
    .main-div {
        height: 500px;
    }
}

.footer-title {
    font-family: 'Golos Text';
    font-style: normal;
    font-size: 35px;
    font-weight: 500;
    font-display: swap;
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: -0px;
    color: white;
}

.footer-title-sm {
    font-family: 'Golos Text';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    font-display: swap;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: -0px;
    color: rgba(255, 255, 255, 0.321);
}

@media (max-width: 1200px) {
    .footer-title-sm {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .footer-title-sm {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .footer-title-sm {
        font-size: 8px;
    }
}

.footer-title-mini {
    font-family: 'Golos Text';
    font-style: normal;
    font-size: 19px;
    font-weight: 400;
    font-display: swap;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: -0px;
    color: rgba(255, 255, 255, 0.542);
}

.footer-des {
    font-family: 'Golos Text';
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    font-display: swap;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: -0px;
    color: rgba(255, 255, 255, 0.923);
}

.device {
    margin-top: 10px;
}

.device2 {
    margin-top: 10px;
}

.p-form {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 0px
}

input[type="text"],[type="number"],[type="email"] {
    width: 300px;
    height: 40px;
    padding-left: 15px;
    margin-top: 10px;
    background-color: #2f2f2f;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
}

.file-upload {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: deepskyblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



label {
    font-size: 20px;
    margin-bottom: 25px;
}

.title_form {
    font-family: 'Unbounded';
    font-style: normal;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 500;
    font-display: swap;
    margin-bottom: 30px;
    color: white;
}

.des_form {
    font-size: 20px;
    margin-left: 10px;
}

.title {
    font-family: 'Unbounded';
    font-style: normal;
    font-size: 70px;
    font-weight: 500;
    font-display: swap;
    margin-left: 260px;
    margin-top: 100px;
    margin-bottom: 0px;
    color: white;
}

@media (max-width: 1200px) {
    .title {
        font-size: 50px;
        margin-left: 100px;
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 40px;
        margin-left: 60px;
        margin-top: 60px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 30px;
        margin-left: 40px;
    }
}

.form {
    width: 600px;
    padding: 20px;
    height: 120px;
    background-color: #1f1f1f;
    color: #ffffff;
    border: 2px solid #393939;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: -30px;
}

.title_gr {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 70px;
    font-weight: 500;
    font-display: swap;
    margin-top: 1px;
    color: white;
    background: linear-gradient(120deg, #a7ff87, #43ff49e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1200px) {
    .title_gr {
        font-size: 50px;
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .title_gr {
        font-size: 40px;
        margin-top: 60px;
    }
}

@media (max-width: 480px) {
    .title_gr {
        font-size: 30px;
        margin-top: 40px;
    }
}

.lol {
    width: 625px;
    height: 160px;
    padding: 10px;
    margin-top: 150px;
    margin-left: 600px;
    background-color: #1f1f1f;
    border: 2px solid #393939;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.exp_gr {
    font-family: 'Golos text';
    font-style: normal;
    font-size: 45px;
    font-weight: 700;
    font-display: swap;
    margin-top: 1px;
    color: white;
    background: linear-gradient(120deg, #a7ff87, #43ff49e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1200px) {
    .exp_gr {
        font-size: 50px;
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .exp_gr {
        font-size: 40px;
        margin-top: 60px;
    }
}

@media (max-width: 480px) {
    .exp_gr {
        font-size: 30px;
    }
}

.what {
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .what p{
        margin-top: 70px;
    }
}

.header {
    background-color: rgba(23, 23, 23, 0.855);
    border-radius: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    border:2px solid #89898926;
    z-index: 100;
    width: 150%;
    backdrop-filter: blur(30px)
}

@media (max-width: 1200px) {
    .header h1 {
        margin-left: 90px;
    }
}

@media (max-width: 768px) {
    .header h1 {
        margin-left: 30px;
    }
}

@media (max-width: 480px) {
    .header h1 {
        margin-left: 10px;
    }
}

.white-text-title {
    color: white;
}

.white-text-title:hover {
    color: white;
}

.cause3 {
    background-color: rgba(47, 47, 47, 0.241);
    border-radius: 15px;
    width: 1000px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: 50px;
    border: 3px solid rgba(96, 96, 96, 0.119);
    transition: 0.2s;
}

.cause3:hover {
    background-color: rgba(61, 61, 61, 0.241);
    cursor: default;
}

.cause3 p {
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: -10px;
    margin-right: 100px
}

@media (max-width: 1200px) {
    .cause3 {
        width: 800px;
        height: 190px;
    }
}

@media (max-width: 768px) {
    .cause3 {
        width: 600px;
        height: 220px;
    }
}

@media (max-width: 480px) {
    .cause3 {
        width: 300px;
        height: 330px;
    }
}

@media (max-width: 1200px) {
    .cause3 p{
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .cause3 p{
        font-size: 23px;
    }
}

@media (max-width: 480px) {
    .cause3 p{
        font-size: 20px;
    }
}

.cause1 {
    background-color: rgba(47, 47, 47, 0.241);
    border-radius: 15px;
    width: 1000px;
    border: 3px solid rgba(96, 96, 96, 0.119);
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: 50px;
    transition: 0.4s;
}

.cause1:hover {
    cursor: default;
    background-color: rgba(61, 61, 61, 0.241);
}

@media (max-width: 1200px) {
    .cause1 {
        width: 800px;
        height: 230px;
    }
}

@media (max-width: 768px) {
    .cause1 {
        width: 600px;
        height: 220px;
    }
}

@media (max-width: 480px) {
    .cause1 {
        width: 300px;
        height: 350px;
    }
}

@media (max-width: 1200px) {
    .cause1 p{
        text-align: center;
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .cause1 p{
        text-align: center;
        font-size: 23px;
    }
}

@media (max-width: 480px) {
    .cause1 p{
        text-align: center;
        font-size: 20px;
    }
}


.cause1 p {
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: -10px;
    margin-right: 100px
}

.transparent {
    color: rgba(23, 23, 23, 0);
    font-size: 1px;
}

.go-div p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px
}

.cause2 {
    background-color: rgba(47, 47, 47, 0.241);
    border-radius: 15px;
    width: 1000px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: 50px;
    border: 3px solid rgba(96, 96, 96, 0.119);
    transition: 0.4s;
}

.cause2:hover {
    cursor: default;
    background-color: rgba(61, 61, 61, 0.241);
}

@media (max-width: 1200px) {
    .cause2 {
        width: 800px;
        height: 250px;
    }
}

@media (max-width: 768px) {
    .cause2 {
        width: 600px;
        height: 220px;
    }
}

@media (max-width: 480px) {
    .cause2 {
        width: 300px;
        height: 530px;
    }
}

@media (max-width: 1200px) {
    .cause2 p{
        text-align: center;
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .cause2 p{
        text-align: center;
        font-size: 23px;
    }
}

@media (max-width: 480px) {
    .cause2 p{
        text-align: center;
        font-size: 20px;
    }
}

.cause2 p {
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: -10px;
    margin-right: 100px
}

.our-prem {
    font-family: 'Golos text';
    font-style: normal;
    font-size: 45px;
    font-weight: 600;
    font-display: swap;
    margin-left: 260px;
    margin-top: 170px;
    margin-bottom: 60px;
    color: white;
}

@media (max-width: 1200px) {
    .our-prem {
        font-size: 50px;
        margin-left: 60px;
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .our-prem {
        font-size: 40px;
        margin-left: 40px;
        margin-top: 60px;
    }
}

@media (max-width: 480px) {
    .our-prem {
        font-size: 30px;
        margin-left: 30px;
    }
}


.title_what {
    font-family: 'Unbounded';
    font-style: normal;
    font-size: 33px;
    color: white;
}

.des_what {
    font-family: 'Golos text';
    font-style: normal;
    font-size: 23px;
    color: rgb(178, 178, 178);
}

.title_what2 {
    font-family: 'Unbounded';
    font-style: normal;
    font-size: 35px;
    color: white;
}

.des_what2 {
    font-family: 'Golos text';
    font-style: normal;
    font-size: 30px;
    color: rgb(218, 218, 218);
}


.title-header {

    font-family: 'Golos Text';
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    font-display: swap;
    margin-left: 260px;
    color: white;

}

.on-des-heder {
    font-family: 'Golos Text';
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-display: swap;
    margin-left: 260px;
    color: rgba(255, 255, 255, 0.903);
}

.des-heder {
    font-family: 'Golos Text';
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-display: swap;
    margin-left: 260px;
    color: rgba(255, 255, 255, 0.706);
    transition: 0.5s;
}

.des-heder:hover {
    color: rgba(255, 255, 255, 0.903);
}

.title-footer {

    font-family: 'Golos text';
    font-style: normal;
    font-size: 28px;
    font-weight: 300;
    font-display: swap;
    margin-left: 260px;
    margin-top: 200px;
    color: white;

}

.des-footer {
    font-size: 15px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 440;
    margin-top: 15px;
    margin-left: 260px;
    color: rgb(154, 154, 154);
}

.social-footer {
    font-size: 20px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 440;
    margin-left: 260px;
    color: rgb(154, 154, 154);
}

p {
    font-size: 23px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 430;
    margin-top: -15px;
    margin-left: 260px;
    color: rgb(198, 198, 198);
}
.dese {
    font-size: 23px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 430;
    margin-top: 25px;
    margin-left: 260px;
    color: rgb(198, 198, 198);
}

.des {
    font-size: 24px;
    font-family: "Golos text";
    text-align: left;
    font-weight: 430;
    margin-top: 30px;
    margin-left: 260px;
    color: rgb(140, 140, 140);
}

@media (max-width: 1200px) {
    .des {
        font-size: 18px;
        margin-left: 100px;
    }
}

@media (max-width: 768px) {
    .des {
        font-size: 18px;
        margin-left: 60px;
    }
}

@media (max-width: 480px) {
    .des {
        font-size: 12px;
        margin-left: 40px;
    }
}

.submit {
    font-family: "Golos text";
    margin-top: 50px;
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    font-weight: 500;
    margin-left: 635px;
    margin-bottom: 100px;
    border-radius: 18px;
    background: #aaff64;
    will-change: transform;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}


.button1 {
    font-family: "Golos text";
    margin-top: 30px;
    font-size: 16px;
    padding: 1em 3.3em;
    cursor: pointer;
    font-weight: 500;
    margin-left: 260px;
    border-radius: 18px;
    background: #aaff64;
    will-change: transform;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .button1 {
        margin-left: 100px;
        margin-top: -30px;
    }
}

@media (max-width: 768px) {
    .button1 {
        margin-left: 60px;
        margin-top: -40px;
    }
}

@media (max-width: 666px) {
    .button1 {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .button1 {
        margin-left: 40px;
        margin-top: -50px;
    }
}

.button_tg {
    font-family: "Golos text";
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 20px;
    border-radius: 18px;
    will-change: transform;
    flex-direction: column;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    padding: 9px 35px;
}
.button_tg img {
    width: 23px; /* Ширина иконки */
    height: 23px; /* Высота иконки */
    margin-bottom: -4px; /* Отступ снизу для центрирования */

}

@media (max-width: 1200px) {
    .button_tg {
        margin-left: 100px;
        margin-top: 15px;
        padding: 9px 70px;
    }
}

@media (max-width: 874px) {
    .button_tg {
        margin-left: 120px;
        margin-top: 15px;
        padding: 9px 70px;
    }
}

@media (max-width: 768px) {
    .button_tg {
        margin-left: 60px;
        margin-top: 15px;
        padding: 9px 70px;
    }
}

@media (max-width: 680px) {
    .button_tg {
        margin-left: 60px;
        margin-top: 15px;
        padding: 9px 70px;
    }
}

@media (max-width: 666px) {
    .button_tg {
        margin-left: 10px;
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .button_tg {
        margin-left: 40px;
        margin-top: 25px;
        padding: 9px 150px;
    }
}

.button_ds {
    font-family: "Golos text";
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 20px;
    border-radius: 18px;
    will-change: transform;
    flex-direction: column;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center; /* Добавлено для центрирования по вертикали */
    text-align: center;
}
.button_ds img {
    width: 25px; /* Ширина иконки */
    height: 25px; /* Высота иконки */
    margin-bottom: -5px; /* Отступ снизу для центрирования */
}

.button_vk {
    font-family: "Golos text";
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 20px;
    border-radius: 18px;
    will-change: transform;
    flex-direction: column;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center; /* Добавлено для центрирования по вертикали */
    text-align: center;
}
.button_vk img {
    width: 25px; /* Ширина иконки */
    height: 25px; /* Высота иконки */
    margin-bottom: -5px; /* Отступ снизу для центрирования */
}

.button1:hover {
    transform: scale(0.9);
}

.button2 {
    font-family: "Golos text";
    margin-top: 25px;
    font-size: 13px;
    padding: 10px 40px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: none;
    margin-left: 25px;
    border-radius: 18px;
    background: #242424;
    will-change: transform;
    transition: all 0.3s;
    border: 1px solid #898989;
}

@media (max-width: 480px) {
    .button2 {
        margin-left: 40px;
        margin-top: 25px;
        padding: 10px 93px;
    }
}

@media (max-width: 666px) {
    .button2 {
        margin-left: 60px;
        margin-top: 15px;
    }
}

.button2:hover {
    transform: scale(0.9);
}
